/* @import "zou.css"; */

#fastSearch {
  visibility: hidden;
  position: absolute;
  right: 0px;
  top: 30px;
  display: inline-block;
  width: 320px;
  margin: 0 10px 0 0;
  padding: 0;
}

#fastSearch input {
  padding: 4px;
  width: 100%;
  height: 31px;
  font-size: 1em;
  color: #465373;
  font-weight: bold;
  background-color: #95B0F4;
  border-radius: 3px 3px 0px 0px;
  border: none;
  outline: none;
  text-align: left;
  display: inline-block;
}

#fastSearch ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#searchResults li {
  list-style: none;
  margin-left: 0em;
  background-color: #E1E7F7;
  border-bottom: 1px dotted #465373;
}

#searchResults li .title {
  font-size: .9em;
  margin: 0;
  display: inline-block;
}

#searchResults {
  visibility: inherit;
  display: inline-block;
  width: 328px;
  margin: 0;
  max-height: calc(100vh - 120px);
  overflow: hidden;
}

#searchResults a {
  text-decoration: none !important;
  padding: 10px;
  display: inline-block;
  width: 100%;
}

#searchResults a:hover,
#searchResults a:focus {
  outline: 0;
  background-color: #95B0F4;
  color: #fff;
}

input#inputSearch {
  border-left: none;
  border-right: none;
  border-top: none;
}

input#inputSearch:focus-visible {
  outline-width: 0px;
}

body {
  font-size: 18px;
}


.article-entry a {
  border-bottom: 1px solid #CBF8DF;
  box-shadow: inset 0 -2px 0 #cbf8df;
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid #CBF8DF;
  box-shadow: inset 0 -4px 0 #cbf8df;
  background: transparent;
  transition: background 150ms ease;
  outline: none;
  text-decoration-line: none;
}

.article-entry a:hover,
.article-entry a:focus {
  background: #CBF8DF;
  border-bottom-color: transparent !important;
}

.article-entry strong {
  font-weight: bold;
  color: #2dbe60;
}

.article-entry blockquote {
  font-family: 'Alegreya', 'Palatino Linotype', 'Book Antiqua', Palatino, 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
  font-size: 17px;
  text-align: left;
  background: #f9f9f9;
  padding: 0.5em 10px;


  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.article-tag-list-link {
  color: #777;
  background: #FFF5DE;
  padding: 1px 5px;
  margin: 10px 0 4px 4px;
  border-radius: 2px;
  border: 1px solid #aaa;
  display: inline-block;
  border-radius: 13px;
}

.article-footer {
  padding: 0px;
}

.article-entry p,
.article-entry table {
  line-height: 27px;
  margin: 10px 0px;
}

p {
  display: block;
  margin-block-start: 14px;
  margin-block-end: 14px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Source Code Pro';
}

.article-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1em;
  font-family: cursive;
}

.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: 500;
  line-height: 1.4em;
  margin: 1em 0;
}

.tag-cloud a:before {
  content: '';
}


.tag-cloud a {
  color: #777;
  background: #FFF5DE;
  padding: 1px 5px;
  margin: 10px 0 4px 4px;
  border-radius: 2px;
  border: 1px solid #aaa;
  display: inline-block;
  border-radius: 13px;
}

@font-face {
  font-family: "仓耳兰楷";
  src: url("/fonts/仓耳兰楷.ttf") format("truetype");

}


#header-inner {
  font-family: fangsong;
}
.article-entry{
  font-family: 仓耳兰楷;
}
