/* @import "zou.css"; */

#fastSearch {
  visibility: hidden;
  position: absolute;
  right: 0px;
  top: 30px;
  display: inline-block;
  width: 320px;
  margin: 0 10px 0 0;
  padding: 0;
}

#fastSearch input {
  padding: 4px;
  width: 100%;
  height: 31px;
  font-size: 1em;
  color: #465373;
  font-weight: bold;
  background-color: #95B0F4;
  border-radius: 3px 3px 0px 0px;
  border: none;
  outline: none;
  text-align: left;
  display: inline-block;
}

#fastSearch ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#searchResults li {
  list-style: none;
  margin-left: 0em;
  background-color: #E1E7F7;
  border-bottom: 1px dotted #465373;
}

#searchResults li .title {
  font-size: .9em;
  margin: 0;
  display: inline-block;
}

#searchResults {
  visibility: inherit;
  display: inline-block;
  width: 328px;
  margin: 0;
  max-height: calc(100vh - 120px);
  overflow: hidden;
}

#searchResults a {
  text-decoration: none !important;
  padding: 10px;
  display: inline-block;
  width: 100%;
}

#searchResults a:hover,
#searchResults a:focus {
  outline: 0;
  background-color: #95B0F4;
  color: #fff;
}

input#inputSearch {
  border-left: none;
  border-right: none;
  border-top: none;
}

input#inputSearch:focus-visible {
  outline-width: 0px;
}

body {
  font-size: 18px;
}



.article-entry blockquote {
  font-family: 'PT Serif', 'STZhongsong', '华文中宋', 'Microsoft Yahei', serif;
  font-size: 17px;
  margin: 0px;
  text-align: left;
  background: #f9f9f9;
  border-left: 4px solid #ccc;
  padding: 0.5em 10px;
}

.article-tag-list-link {
  color: #777;
  background: #FFF5DE;
  padding: 1px 5px;
  margin: 0 0 4px 4px;
  border-radius: 2px;
  border: 1px solid #aaa;
  display: inline-block;
  border-radius: 13px;
}

.article-footer {
  padding: 0px;
}

.article-entry p,
.article-entry table {
  line-height: 27px;
  margin: 10px 0px;
}

p {
  display: block;
  margin-block-start: 14px;
  margin-block-end: 14px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.article-title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1em;
}

.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: 500;
  line-height: 1.4em;
  margin: 1em 0;
}